.select {
    height: 35px;
    width: 180px;
    outline: none;
    border: 2px solid #a09e9e;
    border-radius: 4px;
    font-size: 16px;
}

.defaultOption {
    font-weight: 700;
}

.option {
    color: #493f46;
    font-style: italic;
}